<%
var srcPath = '../';
%>
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>monoweb.jp</title>
    <%- include('../partials/head'); %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="mjpp-topEffect" id="topEffect">
    <div class="mjpp-topEffect__mask"></div>
    <div class="mjpp-topEffect__window">
        <div class="mjpp-topEffect__borderTop"></div>
        <div class="mjpp-topEffect__borderRight"></div>
        <div class="mjpp-topEffect__borderBottom"></div>
        <div class="mjpp-topEffect__borderLeft"></div>
    </div>
    <img src="/img/cloud1.png" alt="" class="p-topEffect__cloud1">
    <!--    <img src="/img/cloud1.png" alt="">-->
    <!--    <img src="/img/cloud2.png" alt="">-->
    <!--    <img src="/img/cloud3.png" alt="">-->
</div>
<div class="mjpl-page">
    <%- include(srcPath + 'partials/header'); %>
    <main id="app">
        <h1 class="mjpp-topLogo">
            <svg xmlns="http://www.w3.org/2000/svg" width="334" height="62" viewBox="0 0 334 62"><path fill="#603" d="M73.495.471a30.39 30.39 0 00-14.076 3.432c-6.281 3.084-8.035 3.084-14.316-.002-4.213-2.191-9-3.43-14.074-3.43C14.168.471.498 14.137.498 30.998c0 16.862 13.67 30.53 30.531 30.53 5.072 0 9.857-1.238 14.066-3.428 6.289-3.091 8.043-3.091 14.33-.001a30.418 30.418 0 0014.07 3.429c16.863 0 30.531-13.668 30.531-30.53 0-16.861-13.668-30.527-30.531-30.527z"/><path fill="#FFFBDA" d="M49.898 29.039v10.313c0 2.213-1.637 3.851-3.807 3.851-2.168 0-3.807-1.638-3.807-3.851v-9.207c0-1.992-1.238-3.275-3.143-3.275-1.859 0-3.055 1.283-3.055 3.275v9.207c0 2.213-1.637 3.851-3.805 3.851-2.17 0-3.807-1.638-3.807-3.851v-9.207c0-1.992-1.24-3.275-3.143-3.275-1.859 0-3.055 1.283-3.055 3.275v9.207c0 2.213-1.639 3.851-3.807 3.851s-3.807-1.638-3.807-3.851V23.861c0-2.214 1.594-3.852 3.719-3.852 1.549 0 2.787.841 3.318 2.169 1.551-1.373 3.631-2.169 5.976-2.169 2.699 0 4.912 1.018 6.418 2.833 1.77-1.771 4.381-2.833 7.258-2.833 5.226 0 8.547 3.497 8.547 9.03zm35.177.078V39.43c0 2.212-1.639 3.85-3.807 3.85-2.17 0-3.807-1.638-3.807-3.85v-9.207c0-1.947-1.328-3.275-3.232-3.275-1.902 0-3.186 1.328-3.186 3.275v9.207c0 2.212-1.639 3.85-3.807 3.85s-3.807-1.638-3.807-3.85V23.938c0-2.213 1.594-3.852 3.719-3.852 1.549 0 2.787.886 3.363 2.213 1.549-1.371 3.717-2.213 6.107-2.213 5.137 0 8.457 3.542 8.457 9.031z"/><g fill="#333"><path d="M150.337 29.036v8.557c0 1.836-1.359 3.195-3.158 3.195-1.801 0-3.158-1.359-3.158-3.195v-7.639c0-1.651-1.027-2.717-2.607-2.717-1.543 0-2.533 1.066-2.533 2.717v7.639c0 1.836-1.359 3.195-3.158 3.195-1.801 0-3.158-1.359-3.158-3.195v-7.639c0-1.651-1.029-2.717-2.607-2.717-1.543 0-2.533 1.066-2.533 2.717v7.639c0 1.836-1.359 3.195-3.158 3.195s-3.158-1.359-3.158-3.195V24.74c0-1.836 1.322-3.194 3.084-3.194 1.285 0 2.314.697 2.754 1.799 1.287-1.139 3.012-1.799 4.957-1.799 2.24 0 4.076.844 5.326 2.35 1.469-1.468 3.635-2.35 6.021-2.35 4.332-.001 7.086 2.901 7.086 7.49zm22.77 2.131c0 5.361-4.406 9.621-10.024 9.621-5.619 0-9.988-4.223-9.988-9.621 0-5.398 4.369-9.621 9.988-9.621 5.617-.001 10.024 4.259 10.024 9.621zm-13.549 0c0 2.275 1.432 3.818 3.562 3.818 2.057 0 3.525-1.615 3.525-3.818 0-2.204-1.506-3.82-3.525-3.82-2.094-.001-3.562 1.542-3.562 3.82zm34.367-2.131v8.557c0 1.836-1.359 3.195-3.158 3.195s-3.158-1.359-3.158-3.195v-7.639c0-1.615-1.102-2.717-2.68-2.717-1.58 0-2.645 1.102-2.645 2.717v7.639c0 1.836-1.357 3.195-3.158 3.195-1.799 0-3.158-1.359-3.158-3.195V24.74c0-1.836 1.322-3.194 3.086-3.194 1.283 0 2.312.734 2.789 1.836 1.287-1.139 3.086-1.836 5.068-1.836 4.26-.001 7.014 2.937 7.014 7.49zm22.713 2.131c0 5.361-4.406 9.621-10.025 9.621-5.617 0-9.988-4.223-9.988-9.621 0-5.398 4.371-9.621 9.988-9.621 5.619-.001 10.025 4.259 10.025 9.621zm-13.551 0c0 2.275 1.432 3.818 3.562 3.818 2.057 0 3.525-1.615 3.525-3.818 0-2.204-1.506-3.82-3.525-3.82-2.093-.001-3.562 1.542-3.562 3.82zm45.012-6.574c0 .55-.148 1.101-.404 1.689l-6.061 12.521c-.623 1.285-1.615 1.983-2.865 1.983-1.248 0-2.238-.698-2.863-1.983l-3.158-6.794-3.156 6.794c-.625 1.285-1.617 1.983-2.865 1.983-1.248 0-2.24-.698-2.865-1.983l-6.059-12.521c-.256-.588-.404-1.14-.404-1.689a3.04 3.04 0 013.049-3.048c1.176 0 2.203.624 2.717 1.652l3.709 7.639 2.828-6.868c.662-1.614 1.689-2.423 3.047-2.423 1.359 0 2.387.809 3.049 2.423l2.826 6.868 3.709-7.639c.516-1.028 1.543-1.652 2.717-1.652a3.042 3.042 0 013.049 3.048zm19.42 5.654v.075c0 1.8-1.395 3.048-3.305 3.048h-8.812c.662 1.395 2.02 2.093 4.076 2.093 1.027 0 2.238-.221 3.195-.625.439-.182.769-.293 1.139-.293 1.395 0 2.496 1.064 2.496 2.46 0 1.028-.478 1.8-1.58 2.424-1.578.881-3.488 1.359-5.471 1.359-5.947 0-10.318-4.076-10.318-9.621 0-5.472 4.15-9.621 9.658-9.621 5.103-.001 8.922 3.708 8.922 8.701zm-12.338-.991h6.352c-.072-1.579-1.32-2.754-3.047-2.754-1.616.001-2.829 1.065-3.305 2.754zm35.084 1.946c0 5.619-3.672 9.586-8.812 9.586-2.203 0-3.893-.734-5.068-2.094-.402 1.249-1.469 2.094-2.863 2.094-1.764 0-3.084-1.359-3.084-3.195V15.561c0-1.836 1.358-3.195 3.156-3.195 1.801 0 3.158 1.359 3.158 3.195v7.674c1.139-1.103 2.719-1.689 4.701-1.689 5.14-.001 8.812 4.038 8.812 9.656zm-6.463-.035c0-2.277-1.506-3.893-3.6-3.893-2.092 0-3.561 1.615-3.561 3.928 0 2.278 1.432 3.855 3.561 3.855 2.131 0 3.6-1.577 3.6-3.89zm8.351 5.507c0-2.277 1.725-4.113 4.186-4.113 2.35 0 4.076 1.836 4.076 4.113 0 2.313-1.727 4.113-4.076 4.113-2.461.001-4.186-1.799-4.186-4.113z"/><path d="M299.909 46.919c-1.066-.514-1.654-1.322-1.654-2.46 0-1.58 1.139-2.717 2.682-2.717h.109c1.873 0 2.389-.662 2.389-3.158V24.74c0-1.836 1.32-3.194 3.156-3.194 1.801 0 3.158 1.358 3.158 3.194v15.203c0 4.7-2.717 7.454-7.344 7.454-1.101 0-1.873-.184-2.496-.478zm10.428-31.432c0 2.019-1.727 3.598-3.781 3.598-2.057 0-3.746-1.579-3.746-3.598 0-2.057 1.689-3.637 3.746-3.637 2.054 0 3.781 1.58 3.781 3.637zm23.166 15.642c0 5.619-3.672 9.658-8.812 9.658-1.982 0-3.561-.588-4.699-1.689v5.103c0 1.836-1.357 3.195-3.158 3.195-1.799 0-3.158-1.359-3.158-3.195V24.63c0-1.763 1.322-3.085 3.084-3.085 1.397 0 2.498.844 2.902 2.055 1.137-1.357 2.863-2.055 5.029-2.055 5.14 0 8.812 3.966 8.812 9.584zm-6.463.038c0-2.314-1.467-3.893-3.598-3.893-2.129 0-3.56 1.578-3.56 3.856 0 2.312 1.467 3.928 3.56 3.928 2.094-.001 3.598-1.616 3.598-3.891z"/></g></svg>
        </h1>
    </main>
    <%- include(srcPath + 'partials/footer', {
    next: {
    name: "サービス内容",
    link: "/services/"
    }
    }); %>
</div>
<script src="/assets/js/bundle.js"></script>
</body>
</html>