<%
var srcPath = '../';
%>
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>monoweb.jp</title>
    <%- include('../partials/head'); %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="p-topEffect" id="topEffect">
    <div class="p-topEffect__mask"></div>
    <div class="p-topEffect__window">
        <div class="p-topEffect__borderTop"></div>
        <div class="p-topEffect__borderRight"></div>
        <div class="p-topEffect__borderBottom"></div>
        <div class="p-topEffect__borderLeft"></div>
    </div>
    <img src="/img/cloud1.png" alt="" class="p-topEffect__cloud1">
    <!--    <img src="/img/cloud1.png" alt="">-->
    <!--    <img src="/img/cloud2.png" alt="">-->
    <!--    <img src="/img/cloud3.png" alt="">-->
</div>
<div class="mjpl-page">
    <%- include(srcPath + 'partials/header'); %>
    <main></main>
    <%- include(srcPath + 'partials/footer', {
    next: {
    name: "サービス内容",
    link: "/services/"
    }
    }); %>
</div>
<script src="/assets/js/bundle.js"></script>
</body>
</html>