<%
data.forEach(function (item) {
%>
    <% if (item.link) { %>
        <a href="<%= item.func %>" class="mjpc-button"><%= item.name %></a>
    <% } else { %>
        <button type="<%= item.func %>" class="mjpc-button"><%= item.name %></button>
<% }
}); %>
