<ul class="mjpc-linkList mjpc-linkList--horizontal">
    <li class="mjpc-linkList__item"><a href="/sitemap/" class="mjpc-linkList__link">サイトマップ</a></li>
    <li class="mjpc-linkList__item"><a href="/privacy-policy/" class="mjpc-linkList__link">プライバシーポリシー</a></li>
</ul>