<%
datas.forEach(function (data) {
%>
<ul class="mjpc-linkList mjpc-linkList--horizontal">
    <%
    data.items.forEach(function (item) {
    %>
        <li class="mjpc-linkList__item">
            <a href="<%= item.link %>" class="mjpc-linkList__link">
                <span class="mjpc-linkList__text"><%= item.name %></span>
            </a>
        </li>
    <% }); %>
</ul>
<% }); %>