<% datas.forEach(function (data) { %>
    <div>
        <h1><%= data.title %></h1>
        <ul>
            <% data.items.forEach(function (item) { %>
                <li>
                    <h2><%= item.name %></h2>
                    <p><%= item.email %></p>
                </li>
            <% }); %>
        </ul>
    </div>
<% }); %>