<ul class="mjpc-tag">
    <%
    data.forEach(function (item) {
    %>
        <li class="mjpc-tag__item">
            <span class="mjpc-tag__label"><%= item.name %></span>
        </li>
    <% }); %>
</ul>