<ul class="mjpc-tag">
    <%
    if (typeof data === 'undefined') {
        var data = [{
            "name": "{{name}}",
            "status": "{{status}}"
        }];
        var status =
        var styleguide = true;
    }
    data.forEach(function (item) {
    %>
        <% if (styleguide) { %>
            {{#each data}}
        <% } %>
        <li class="mjpc-tag__item">
            <span class="mjpc-tag__label"><%= item.name %></span>
        </li>
        <% if (styleguide) { %>
            {{/each}}
        <% } %>
    <% }); %>
</ul>