<ul class="mjpc-tagToggle">
    <%
    data.forEach(function (item, key) {
    %>
        <li class="mjpc-tagToggle__item">
            <input type="checkbox" name="mjplTagToggle" id="mjpIdTagToggle<%= key %>" class="mjpc-tagToggle__input">
            <label for="mjpIdTagToggle<%= key %>" class="mjpc-tagToggle__label"><%= item.name %></label>
        </li>
    <% }); %>
</ul>