.mjpp-copyright {
    margin: 0;

    &__link {
        text-decoration: none;
        position: relative;
        color: $font-color;
    }

    &__text {
        font-size: #{(12 / $base-font-size)}rem;
    }
}