.p-topEffect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #2970ce 0%, #82c6ff 100%);
    overflow: hidden;
    animation: topEffect 4s  cubic-bezier(.445, .05, .55, .95) 5s;

    &__cloud1 {
        position: absolute;
        animation: cloud1 30s cubic-bezier(.445, .05, .55, .95) 0s infinite;
    }
}

@keyframes topEffect {
    0% {
        opacity: 1;
        z-index: 0;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cloud1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}