// BlueBack
// contents
.mjpp-topEffect {
    $this: &;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: topEffect 4s cubic-bezier(.445, .05, .55, .95) 2s forwards;

    &__mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom, #2970ce 0%, #82c6ff 100%);
        animation: topEffectMask 4s cubic-bezier(.445, .05, .55, .95) 2s forwards;
    }

    &__window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        width: calc((322 / 1280) * 100vw);
        height: calc((322 / 832) * 100vh);
        background-image: linear-gradient(to bottom, #2970ce 0%, #82c6ff 100%);
        background-size: 100vw 100vh;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        #{$this}__borderTop,
        #{$this}__borderRight,
        #{$this}__borderBottom,
        #{$this}__borderLeft,
        #{$this}__borderTopInline,
        #{$this}__borderRightInline,
        #{$this}__borderBottomInline,
        #{$this}__borderLeftInline {
            position: absolute;
            background: $mono-light-color;
        }

        #{$this}__borderTop {
            top: 0;
            left: 0;
            height: 1px;
            animation: borderWidth .4s ease 0s forwards;
        }

        #{$this}__borderRight {
            top: 0;
            right: 0;
            width: 1px;
            animation: borderHeight .4s ease .4s forwards;
        }

        #{$this}__borderBottom {
            right: 0;
            bottom: 0;
            height: 1px;
            animation: borderWidth .4s ease .8s forwards;
        }

        #{$this}__borderLeft {
            bottom: 0;
            left: 0;
            width: 1px;
            animation: borderHeight .4s ease 1.2s forwards;
        }

        #{$this}__borderTopInline {
            top: 10px;
            left: 10px;
            height: 3px;
            animation: borderWidthInline .4s ease 0s forwards;
        }

        #{$this}__borderRightInline {
            top: 10px;
            right: 10px;
            width: 3px;
            animation: borderHeightInline .4s ease .4s forwards;
        }

        #{$this}__borderBottomInline {
            right: 10px;
            bottom: 10px;
            height: 3px;
            animation: borderWidthInline .4s ease .8s forwards;
        }

        #{$this}__borderLeftInline {
            bottom: 10px;
            left: 10px;
            width: 3px;
            animation: borderHeightInline .4s ease 1.2s forwards;
        }
    }

    &__cloud1 {
        position: absolute;
        top: 10%;
        left: 20%;
        animation: cloud 60s linear 0s infinite;
    }

    &__cloud2 {
        position: absolute;
        top: 60%;
        left: 40%;
        animation: cloud 45s linear 0s infinite;
    }

    &__cloud3 {
        position: absolute;
        top: 35%;
        left: 50%;
        animation: cloud 30s linear 0s infinite;
    }

    &__cloud4 {
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: 0 50%;
        animation: cloud4 10s linear 0s infinite;
    }
}

@keyframes topEffect {
    0% {
        z-index: 0;
    }

    99% {
        z-index: 0;
    }

    100% {
        z-index: -1;
    }
}

@keyframes topEffectMask {
    0% {
        z-index: 0;
        opacity: 1;
    }

    99% {
        z-index: 0;
    }

    100% {
        z-index: -1;
        opacity: 0;
    }
}

@keyframes borderWidth {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes borderHeight {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes borderWidthInline {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 23px);
    }
}

@keyframes borderHeightInline {
    0% {
        height: 0;
    }

    100% {
        height: calc(100% - 23px);
    }
}

@keyframes cloud {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(70vw);
    }
}

@keyframes cloud4 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}