.mjpp-topLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    padding: #{(10 / $base-font-size)}rem #{(15 / $base-font-size)}rem;
    max-width: #{(229 / $base-font-size)}rem;
    background: $topLogo-backgroundColor;
}