.mjpc-button {
    margin: 0 auto;
    padding: #{(12 / $base-font-size)}rem #{(10 / $base-font-size)}rem;
    display: block;
    max-width: #{(324 / $base-font-size)}rem;
    border: 1px solid $primary-color;
    text-decoration: none;
    text-align: center;
    color: $primary-color;
}