.mjpc-form {
    margin: 0 auto;
    display: block;
    max-width: #{(640 / $base-font-size)}rem;

    &__label,
    &__text {
        display: block;
    }

    &__label {
        margin: 0 auto #{(20 / $base-font-size)}rem;
    }

    &__text {
        margin: 0 auto #{(5 / $base-font-size)}rem;
    }

    &__input,
    &__textarea {
        display: block;
        width: 100%;
    }
}