.mjpc-grid {
    $this: &;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: #{(-15 / $base-font-size)}rem #{(-15 / $base-font-size)}rem 0;

    &#{$this}--lower {
        align-items: flex-end;
    }

    @for $i from 1 through 12 {
        #{&}__col#{$i} {
            padding: #{(15 / $base-font-size)}rem;
            width: calc(100% / 12 * #{$i});
        }
    }
}