.mjpc-linkList {
    $this: &;
    max-width: #{(1012 / $base-font-size)}rem;
    margin: 0 auto #{(30 / $base-font-size)}rem;
    padding: 0;
    list-style: none;

    &:last-child {
        margin-bottom: 0;
    }

    &#{$this}--vertical {
        #{$this}__item {
            padding: 0 0 0 1em;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 5px;
                height: 5px;
                background: $font-color;
                border-radius: 50%;
            }
        }
    }

    &#{$this}--horizontal {
        display: flex;

        #{$this}__item {
            padding: 0 #{(7 / $base-font-size)}rem;
            border-right: 1px solid $font-color;
            line-height: 1;

            &:first-child {
                padding: 0 #{(7 / $base-font-size)}rem 0 0;
            }

            &:last-child {
                padding: 0 0 0 #{(7 / $base-font-size)}rem;
                border-right: 0;
            }
        }
    }

    #{$this}__link {
        color: $font-color;
        text-decoration: none;
    }
}