.mjpc-sectionTitle {
    margin: 0 auto #{(30 / $base-font-size)}rem;

    &__title {
        margin: 0 auto #{(15 / $base-font-size)}rem;
        font-size: #{(24 / $base-font-size)}rem;
        text-align: center;
    }

    &__paragraph {
        margin: 0;
        font-size: #{(14 / $base-font-size)}rem;
        text-align: center;
    }
}