.mjpc-tag {
    $this: &;
    margin: 0 auto;
    max-width: #{(1022 / $base-font-size)}rem;
    display: flex;

    &__inner {
        margin: 0 0 #{(5 / $base-font-size)}rem;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 #{(5 / $base-font-size)}rem 0 0;
    }

    &--status {
        #{$this}__label {
            color: $tagStatusInactive-fontColor;

            &.is-active {
                color: $tagStatusActive-fontColor;
            }
        }
    }

    &--icons {
        #{$this}__icon {
            display: block;
            margin: 0 #{(5 / $base-font-size)}rem 0 0;

            .mjpc-icon {
                display: block;
                width: #{(24 / $base-font-size)}rem;
                height: #{(24 / $base-font-size)}rem;
            }
        }
    }

    &--toggle {
        margin: 0 auto #{(-5 / $base-font-size)}rem;
        justify-content: center;

        #{$this}__item {
            margin: 0 #{(5 / $base-font-size)}rem #{(5 / $base-font-size)}rem;
        }

        #{$this}__input {
            display: none;

            &:checked {
                + #{$this}__label {
                    background: $checkedTagToggle-backgroundColor;
                    color: $checkedTagToggle-fontColor;
                }
            }
        }

        #{$this}__label {
            padding: #{(7 / $base-font-size)}rem #{(10 / $base-font-size)}rem #{(5 / $base-font-size)}rem;
            display: block;
            font-size: #{(12 / $base-font-size)}rem;
            border: 1px solid $tagToggle-borderColor;
            color: $tagToggle-fontColor;
            line-height: 1;
            border-radius: 1em;
            white-space: nowrap;
            transition: color .1s ease-in-out, background-color .1s ease-in-out;

            &::selection {
                background: transparent;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .mjpc-icon {
        width: #{(12 / $base-font-size)}rem;
        height: #{(12 / $base-font-size * $line-height)}rem;
    }
}