.mjpc-tag {
    $this: &;
    margin: 0 auto #{(5 / $base-font-size)}rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: #{(1022 / $base-font-size)}rem;

    &__item {
        margin: 0;

        &::after {
            margin: 0 #{(5 / $base-font-size)}rem 0 0;
            content: ',';
        }

        &:last-child {
            &::after {
                content: normal;
            }
        }

        &.is-active,
        &.is-inactive {
            &::after {
                content: ',';
                color: #999;
            }

            &:last-child {
                &::after {
                    content: normal;
                }
            }
        }

        &.is-active {
            color: $primary-color;
        }

        &.is-inactive {
            color: #999;
        }
    }
}