.mjpl-footer {
    $this: &;
    margin: #{(95 / $base-font-size)}rem auto 0;
    padding: 0 #{(20 / $base-font-size)}rem 10px;
    width: 100%;
    background: left 50% bottom 5px repeat-x url('/assets/img/footer-border.svg');

    &__inner {
        margin: 0 auto;
        //max-width: #{(1012 / $base-font-size)}rem;
        background: left 50% bottom 5px no-repeat url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjU1LjUiPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0wIDBoMXY1NS41SDB6Ii8+PC9zdmc+');

        .mjpc-grid {
            max-width: 100%;
        }
    }

    &__upper {
        padding: #{(40 / $base-font-size)}rem 0 0;
        border-top: 1px solid $footer-borderTopColor;
        background: left 50% top 0 no-repeat url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjIwLjUiPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik01IDEyLjVWMEg0djEyLjVIMGw0LjUgOCA0LjUtOHoiLz48L3N2Zz4=');
    }

    .mjpc-linkList {
        font-size: #{(12 / $base-font-size)}rem;
    }
}