<footer class="mjpl-footer">
    <div class="mjpl-footer__inner">
        <div class="mjpc-grid">
            <div class="mjpc-grid__col6">
                <ul class="mjpc-linkList mjpc-linkList--horizontal">
                    <li class="mjpc-linkList__item"><a href="/sitemap/" class="mjpc-linkList__link">サイトマップ</a></li>
                    <li class="mjpc-linkList__item"><a href="/privacy-policy/" class="mjpc-linkList__link">プライバシーポリシー</a></li>
                </ul>
                <p class="mjpp-copyright">
                    <small class="mjpp-copyright__text"><a class="mjpp-copyright__link" href="/">&copy; monoweb.jp 2019-2020</a></small>
                </p>
            </div>
            <div class="mjpc-grid__col6">
                <div class="mjpp-share mjpp-share--minimum">
                    <p class="mjpp-share__title">このサイトをシェア</p>
                    <ul class="mjpp-share__buttons">
                        <li class="mjpp-share__item">
                            <button></button>
                        </li>
                        <li class="mjpp-share__item">
                            <button></button>
                        </li>
                        <li class="mjpp-share__item">
                            <button></button>
                        </li>
                        <li class="mjpp-share__item">
                            <button></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>