<footer class="mjpl-footer">
    <div class="mjpl-footer__inner">
        <div class="mjpc-column">
            <div class="mjpc-column__item">
                <ul>
                    <li><a href="/sitemap/">サイトマップ</a></li>
                    <li><a href="/privacy-policy/">プライバシーポリシー</a></li>
                </ul>
                <p class="mjpp-copyright">
                    <small class="mjpp-copyright__text"><a class="mjpp-copyright__link" href="/">&copy; monoweb.jp</a></small>
                </p>
                <!-- /mjpc-column__item --></div>
            <div class="mjpc-column__item">

                <!-- /mjpc-column__item --></div>
        </div>
    </div>
</footer>